<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>HELLO HTML PAGE! EDIT ME! Add more bodies! more data! more everything!</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</head>


	<body>
		{{{ body }}}
	</body>
</html>
