<h1>BURGERS!</h1>

<h2>BURGERS ate</h2>

<ul>
  {{#each burgers}}
    {{#unless eaten}}
      {{> burgertime/burger-block eaten=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>BURGERS not yet</h2>

<ul>
  {{#each burgers}}
    {{#if eaten}}
      {{> burgertime/burger-block eaten=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>BURGER you want to eat!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">WHAT BURGER PLEASE:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="eat">DEVOURED</label><br>
    <input type="radio" name="eaten" value="1" checked> Sleepy!<br>
    <input type="radio" name="eaten" value="0"> Awake
  </div>

  <button type="submit">BURGER THAT YOU WANT</button>
</form>
